
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= url_for(list.photo) if list.photo.attached? %>)">
    <%= link_to list_path(list) do%>
      <%= list.name %>
    <% end %>
  </div>
